
body {
    text-align: center;
    font-family: open sans, sans-serif;
    background-color: rgba(0, 0, 0, 0.842);
    color: #ffff;
    margin: 0px;
  }
h3{color: #f5f3f3;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
  h2 {
    color: #f5f3f3;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  h1 {
    font-size: 60px;
    font-weight: 300;
    font-family: fantasy;
  }

  p {
    font-size: 20px;
    line-height: 1, 5em;
    font-family: sans-serif;
    margin: 0px auto;
    width: 50%;
  }


  img {
    width: 50%;
    border: 8px solid gray;
    border-radius: 05%;
margin: 0px auto;
  }

  ul li a {
    font-size: 20px;
    list-style-position: inside;
    padding-left: 0px;
    color: #a8a1a1;
  }
